USE [master]
GO
/****** Object:  Database [p3_MyImage_3]    Script Date: 4/6/2026 2:02:34 PM ******/
CREATE DATABASE [p3_MyImage_3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'p3_MyImage_3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\p3_MyImage_3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'p3_MyImage_3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\p3_MyImage_3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [p3_MyImage_3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [p3_MyImage_3]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 4/6/2026 2:02:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 4/6/2026 2:02:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[cust_id] [int] IDENTITY(1,1) NOT NULL,
	[f_name] [nvarchar](50) NOT NULL,
	[l_name] [nvarchar](50) NOT NULL,
	[dob] [date] NULL,
	[gender] [char](1) NULL,
	[p_no] [varchar](20) NULL,
	[address] [nvarchar](255) NULL,
	[email] [varchar](100) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cust_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 4/6/2026 2:02:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[order_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[photo_id] [int] NOT NULL,
	[size_id] [int] NULL,
	[quantity] [int] NOT NULL,
	[price_per_copy] [decimal](10, 2) NOT NULL,
	[note_to_admin] [nvarchar](500) NULL,
	[line_total]  AS ([quantity]*[price_per_copy]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[order_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 4/6/2026 2:02:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[cust_id] [int] NOT NULL,
	[folder_name]  AS ('folder_'+right('0000'+CONVERT([varchar](4),[order_id]),(4))) PERSISTED,
	[order_date] [datetime] NOT NULL,
	[total_price] [decimal](10, 2) NOT NULL,
	[shipping_address] [nvarchar](500) NOT NULL,
	[status] [varchar](30) NOT NULL,
	[payment_method] [varchar](20) NULL,
	[processed_by_admin_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTransactions]    Script Date: 4/6/2026 2:02:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTransactions](
	[transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[txn_ref] [varchar](50) NULL,
	[amount] [decimal](18, 0) NOT NULL,
	[vnp_transaction_no] [varchar](100) NULL,
	[response_code] [varchar](10) NULL,
	[message] [nvarchar](500) NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_PaymentTransactions] PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrintSizes]    Script Date: 4/6/2026 2:02:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrintSizes](
	[size_id] [int] IDENTITY(1,1) NOT NULL,
	[template_id] [int] NOT NULL,
	[size_name] [varchar](50) NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[is_available] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[size_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductGallery]    Script Date: 4/6/2026 2:02:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductGallery](
	[gallery_id] [int] IDENTITY(1,1) NOT NULL,
	[template_id] [int] NOT NULL,
	[image_url] [varchar](500) NOT NULL,
	[caption] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[gallery_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTemplates]    Script Date: 4/6/2026 2:02:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTemplates](
	[template_id] [int] IDENTITY(1,1) NOT NULL,
	[template_name] [nvarchar](200) NOT NULL,
	[image_url] [varchar](500) NOT NULL,
	[details] [nvarchar](max) NULL,
	[lead_time] [nvarchar](100) NULL,
	[is_active] [bit] NOT NULL,
	[Category] [nvarchar](100) NULL,
	[IsFeatured] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[template_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Photos]    Script Date: 4/6/2026 2:02:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Photos](
	[photo_id] [int] IDENTITY(1,1) NOT NULL,
	[cust_id] [int] NOT NULL,
	[file_name] [varchar](255) NOT NULL,
	[file_path] [varchar](500) NOT NULL,
	[upload_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[photo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([admin_id], [username], [password], [created_at]) VALUES (1, N'admin', N'$2a$11$/WdOfS0U3lDh39h/6OKzNeWCM3c2tHzGFfsmp5ELJlcbv8oD68D32', CAST(N'2026-04-05T16:18:30.533' AS DateTime))
INSERT [dbo].[Admins] ([admin_id], [username], [password], [created_at]) VALUES (2, N'staff01', N'$2a$11$PgmadXH7Lq2az1bObiS5aOXDJVpvawsIlnUaLHJh0pvBJj2peCOOi', CAST(N'2026-04-05T16:18:30.673' AS DateTime))
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([cust_id], [f_name], [l_name], [dob], [gender], [p_no], [address], [email], [username], [password], [is_active], [created_at]) VALUES (1, N'Van', N'An', CAST(N'2000-03-15' AS Date), N'M', N'0912345678', N'12 Ly Thuong Kiet, Ha Noi', N'an.nguyen@gmail.com', N'annguyen', N'$2a$11$v0ia36QjOuPlx8BBNGA08ewSpbX3wVfCX/k9.n5qQQRGK9ufAHSNS', 1, CAST(N'2026-04-05T16:18:29.667' AS DateTime))
INSERT [dbo].[Customers] ([cust_id], [f_name], [l_name], [dob], [gender], [p_no], [address], [email], [username], [password], [is_active], [created_at]) VALUES (2, N'Thi', N'Binh', CAST(N'1998-07-22' AS Date), N'F', N'0987654321', N'45 Tran Hung Dao, Ho Chi Minh', N'binh.tran@gmail.com', N'binhtran', N'$2a$11$mH.g4YWPf/olrMXalrcgfO87ZEein4QvP8Nr2i47dHVJ5S8Bp8g3a', 1, CAST(N'2026-04-05T16:18:29.793' AS DateTime))
INSERT [dbo].[Customers] ([cust_id], [f_name], [l_name], [dob], [gender], [p_no], [address], [email], [username], [password], [is_active], [created_at]) VALUES (3, N'Minh', N'Cuong', CAST(N'1995-11-05' AS Date), N'M', N'0901112233', N'88 Nguyen Hue, Da Nang', N'cuong.minh@yahoo.com', N'cuongminh', N'$2a$11$sjWdiAzG1E5tZpraqdEe5epK5LoYtInq7lpX31cCt7I1JSzfsRAfO', 1, CAST(N'2026-04-05T16:18:29.917' AS DateTime))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([order_detail_id], [order_id], [photo_id], [size_id], [quantity], [price_per_copy], [note_to_admin]) VALUES (1, 1, 1, 1, 2, CAST(4500.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[OrderDetails] ([order_detail_id], [order_id], [photo_id], [size_id], [quantity], [price_per_copy], [note_to_admin]) VALUES (2, 1, 2, 1, 1, CAST(4500.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[OrderDetails] ([order_detail_id], [order_id], [photo_id], [size_id], [quantity], [price_per_copy], [note_to_admin]) VALUES (3, 1, 3, 1, 3, CAST(4500.00 AS Decimal(10, 2)), NULL)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([order_id], [cust_id], [order_date], [total_price], [shipping_address], [status], [payment_method], [processed_by_admin_id]) VALUES (1, 6, CAST(N'2026-04-06T05:31:11.627' AS DateTime), CAST(27000.00 AS Decimal(10, 2)), N'Xóm Đồng Mạc, thôn Đa Phúc, xã Sài Sơn, huyện Quốc Oai, Hà Nội', N'Processing', N'COD', NULL)
INSERT [dbo].[Orders] ([order_id], [cust_id], [order_date], [total_price], [shipping_address], [status], [payment_method], [processed_by_admin_id]) VALUES (2, 6, CAST(N'2026-04-06T05:32:46.683' AS DateTime), CAST(235000.00 AS Decimal(10, 2)), N'Xóm Đồng Mạc, thôn Đa Phúc, xã Sài Sơn, huyện Quốc Oai, Hà Nội', N'Payment Verified', N'VNPay', NULL)
INSERT [dbo].[Orders] ([order_id], [cust_id], [order_date], [total_price], [shipping_address], [status], [payment_method], [processed_by_admin_id]) VALUES (3, 6, CAST(N'2026-04-06T05:34:02.927' AS DateTime), CAST(618000.00 AS Decimal(10, 2)), N'Xóm Đồng Mạc, thôn Đa Phúc, xã Sài Sơn, huyện Quốc Oai, Hà Nội', N'Pending', N'VNPay', NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentTransactions] ON 

INSERT [dbo].[PaymentTransactions] ([transaction_id], [order_id], [txn_ref], [amount], [vnp_transaction_no], [response_code], [message], [status], [created_at]) VALUES (1, 2, N'2', CAST(235000 AS Decimal(18, 0)), N'15483825', N'00', N'Thanh toan don hang #2', N'Success', CAST(N'2026-04-06T05:32:46.753' AS DateTime))
INSERT [dbo].[PaymentTransactions] ([transaction_id], [order_id], [txn_ref], [amount], [vnp_transaction_no], [response_code], [message], [status], [created_at]) VALUES (2, 3, N'3', CAST(618000 AS Decimal(18, 0)), N'15483828', N'24', N'Thanh toan don hang #3', N'Failed', CAST(N'2026-04-06T05:34:02.997' AS DateTime))
INSERT [dbo].[PaymentTransactions] ([transaction_id], [order_id], [txn_ref], [amount], [vnp_transaction_no], [response_code], [message], [status], [created_at]) VALUES (3, 5, N'5', CAST(4900000 AS Decimal(18, 0)), N'15483844', N'24', N'Thanh toan don hang #5', N'Failed', CAST(N'2026-04-06T05:50:04.353' AS DateTime))
SET IDENTITY_INSERT [dbo].[PaymentTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[PrintSizes] ON 

INSERT [dbo].[PrintSizes] ([size_id], [template_id], [size_name], [price], [is_available], [created_at]) VALUES (1, 1, N'10 x 15', CAST(4500.00 AS Decimal(10, 2)), 1, CAST(N'2026-04-05T22:15:33.553' AS DateTime))
INSERT [dbo].[PrintSizes] ([size_id], [template_id], [size_name], [price], [is_available], [created_at]) VALUES (2, 1, N'13 x 18', CAST(6000.00 AS Decimal(10, 2)), 1, CAST(N'2026-04-05T22:16:04.787' AS DateTime))
INSERT [dbo].[PrintSizes] ([size_id], [template_id], [size_name], [price], [is_available], [created_at]) VALUES (3, 1, N'15 x 21', CAST(9000.00 AS Decimal(10, 2)), 1, CAST(N'2026-04-05T22:16:41.420' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[PrintSizes] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductTemplates] ON 

INSERT [dbo].[ProductTemplates] ([template_id], [template_name], [image_url], [details], [lead_time], [is_active], [Category], [IsFeatured]) VALUES (1, N'In Ảnh (Rửa ảnh) siêu sắc nét', N'uploads/templates/5349d920-3e72-4719-a475-ab200ba8b06d.jpg', N'In trên công nghệ mới Siêu Sắc Nét với độ bền màu lên đến 100 năm & chống nước bụi bẩn.', N'1-2 ngày', 1, N'in-anh', 1)
INSERT [dbo].[ProductTemplates] ([template_id], [template_name], [image_url], [details], [lead_time], [is_active], [Category], [IsFeatured]) VALUES (2, N'In Ảnh Polaroid', N'uploads/templates/b384ad8f-4cbc-46c5-a4b7-1901c1d9f5e2.jpg', N'In Ảnh Polaroid phong cách cổ điển', N'1-2 ngày', 1, N'in-anh', 1)
INSERT [dbo].[ProductTemplates] ([template_id], [template_name], [image_url], [details], [lead_time], [is_active], [Category], [IsFeatured]) VALUES (3, N'In Ảnh Photostrip', N'uploads/templates/9c76c0ff-dc1f-424a-9d43-5f9f8ca4f78d.jpg', N'Ảnh Photostrip thiết kế độc quyền – Layout độc đáo.', N'1-2 ngày', 1, N'in-anh', 1)
SET IDENTITY_INSERT [dbo].[ProductTemplates] OFF
GO
SET IDENTITY_INSERT [dbo].[Photos] ON 

INSERT [dbo].[Photos] ([photo_id], [cust_id], [file_name], [file_path], [upload_date]) VALUES (1, 6, N'861ef964-be4c-4d80-a0a9-f903e18789a4.jpg', N'uploads/user/folder_0001/861ef964-be4c-4d80-a0a9-f903e18789a4.jpg', CAST(N'2026-04-06T05:30:01.263' AS DateTime))
INSERT [dbo].[Photos] ([photo_id], [cust_id], [file_name], [file_path], [upload_date]) VALUES (2, 6, N'81900141-25dd-4a2c-9bc0-6ffc69a2d0d1.jpg', N'uploads/user/folder_0001/81900141-25dd-4a2c-9bc0-6ffc69a2d0d1.jpg', CAST(N'2026-04-06T05:30:01.327' AS DateTime))
INSERT [dbo].[Photos] ([photo_id], [cust_id], [file_name], [file_path], [upload_date]) VALUES (3, 6, N'3814d05f-2b48-4405-b814-7d6242aae754.jpg', N'uploads/user/folder_0001/3814d05f-2b48-4405-b814-7d6242aae754.jpg', CAST(N'2026-04-06T05:30:01.367' AS DateTime))
SET IDENTITY_INSERT [dbo].[Photos] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Admins__F3DBC572D1A92743]    Script Date: 4/6/2026 2:02:34 PM ******/
ALTER TABLE [dbo].[Admins] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__AB6E6164E7D56BFE]    Script Date: 4/6/2026 2:02:34 PM ******/
ALTER TABLE [dbo].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__F3DBC57202549482]    Script Date: 4/6/2026 2:02:34 PM ******/
ALTER TABLE [dbo].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Orders__3AFC5A919924CC15]    Script Date: 4/6/2026 2:02:34 PM ******/
ALTER TABLE [dbo].[Orders] ADD UNIQUE NONCLUSTERED 
(
	[folder_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0.00)) FOR [total_price]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[PaymentTransactions] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[PaymentTransactions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[PrintSizes] ADD  DEFAULT ((1)) FOR [is_available]
GO
ALTER TABLE [dbo].[PrintSizes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ProductTemplates] ADD  DEFAULT (N'2-3 ngày') FOR [lead_time]
GO
ALTER TABLE [dbo].[ProductTemplates] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[ProductTemplates] ADD  DEFAULT ((0)) FOR [IsFeatured]
GO
ALTER TABLE [dbo].[Photos] ADD  DEFAULT (getdate()) FOR [upload_date]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_PrintSizes] FOREIGN KEY([size_id])
REFERENCES [dbo].[PrintSizes] ([size_id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_PrintSizes]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Photos] FOREIGN KEY([photo_id])
REFERENCES [dbo].[Photos] ([photo_id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Photos]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Admins] FOREIGN KEY([processed_by_admin_id])
REFERENCES [dbo].[Admins] ([admin_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Admins]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([cust_id])
REFERENCES [dbo].[Customers] ([cust_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[PaymentTransactions]  WITH CHECK ADD  CONSTRAINT [FK_PaymentTransactions_Orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
GO
ALTER TABLE [dbo].[PaymentTransactions] CHECK CONSTRAINT [FK_PaymentTransactions_Orders]
GO
ALTER TABLE [dbo].[PrintSizes]  WITH CHECK ADD  CONSTRAINT [FK_PrintSizes_ProductTemplates] FOREIGN KEY([template_id])
REFERENCES [dbo].[ProductTemplates] ([template_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PrintSizes] CHECK CONSTRAINT [FK_PrintSizes_ProductTemplates]
GO
ALTER TABLE [dbo].[ProductGallery]  WITH CHECK ADD  CONSTRAINT [FK_ProductGallery_ProductTemplates] FOREIGN KEY([template_id])
REFERENCES [dbo].[ProductTemplates] ([template_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductGallery] CHECK CONSTRAINT [FK_ProductGallery_ProductTemplates]
GO
ALTER TABLE [dbo].[Photos]  WITH CHECK ADD  CONSTRAINT [FK_Photos_Customers] FOREIGN KEY([cust_id])
REFERENCES [dbo].[Customers] ([cust_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Photos] CHECK CONSTRAINT [FK_Photos_Customers]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD CHECK  (([Gender]='F' OR [Gender]='M'))
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD CHECK  (([quantity]>=(1)))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([status]='Cancelled' OR [status]='Completed' OR [status]='Shipped' OR [status]='Printed' OR [status]='Processing' OR [status]='Payment Verified' OR [status]='Pending'))
GO
USE [master]
GO
